@font-face {
    font-family: 'Orbitron';
    /* Apenas o nome, sem sans-serif aqui */
    src: url('../src/fonts/orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

/* Importação correta para Oxanium */
@font-face {
    font-family: 'Oxanium';
    src: url('../src/fonts/Oxanium/Oxanium-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
}

:root {
    --bg-color: #1A0B2E;
    --accent-color: #2E5BFF;
    --new-color: #666363ab;
    --neon-color: #39FF14;
    --text-color: #F0F0F0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Orbitron';


}

header {
    width: 100%;
    height: 15dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: var(--bg-color);
    gap: 12px;
    border-bottom: 1px solid var(--text-color);
}

header h2 {
    float: left;
    color: var(--neon-color);
}

header main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header main ul {
    float: right;
}

header main ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}

header main ul li a {
    text-decoration: none;
    color: var(--text-color);
}

header main ul li a:hover {
    color: rgb(124, 122, 122)
}

div.image {
    display: flex;
    gap: 10px;

    & img {
        width: 30px;
        height: 30px;
    }

    & p {
        color: var(--neon-color);
        font-family: 'Oxanium';
    }
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.hero-wraper {
    width: 50%;
    height: 42%;
    padding: 10px;
}

section.hero .hero-wraper .p1{
    color: var(--neon-color);
    border: 0.6px solid var(--neon-color);
    width: fit-content;
    margin: 0 auto;
    background-color: #12320cb8;
}

section.hero .hero-wraper h4{
    text-align: center;
    font-size: 60px;
    text-shadow: 
    0 0 5px #39FF14,   /* Brilho interno/próximo */
    0 0 10px #39FF14,  /* Difusão média */
    0 0 20px #39FF14,  /* Difusão larga */
    0 0 40px #39FF14;  /* Brilho ambiental */
    padding: 5px;
}

section.hero .hero-wraper .verde{
    color: var(--neon-color);
}

section.hero .p2{
    text-align: center;
}

section .botoes{
    text-align: center;
    margin-top: 10px;
}

section .btn-green{
    background-color: var(--neon-color);
    height: 39px;
    padding: 6px;
    cursor: pointer;
}

section .btn{
    border: 1px solid var(--neon-color);
    background-color: var(--bg-color);
    height: 39px;
    padding: 6px;
    cursor: pointer;
    color: var(--text-color);
}